
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    
    font-family: 'Poppins', sans-serif;
}
.logo{
    color: #F2F2F2;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 25px;

}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    color: #F2F2F2;
    text-decoration: none;
    letter-spacing: 4px;
    font-weight: bold;
    font-size: 16px;
}

.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: #F2F2F2;
    margin: 5px;

}


body{
    padding: 0;
    background: linear-gradient(#00d2ff 0%, #1A2873 100%);
}



.chart{
    position: relative;
    width: 40vw;
    height: 40vh;

}

section{

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white ;
    scroll-snap-align: start;
    
}






img {
    max-width: 100%;
    border-radius: 5px;
}

.slidecontainer {
    margin-top: 10px;
    width: 30%;
    height: 50px;
    position: fixed;
    top:90%;
    left: 65%;   
    bottom: auto;
    right: auto;
    z-index: 999;
}




.slider-range {
    width: 100%;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}


.slider-range:hover {
    opacity: 1;
    
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.range-number {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 0 3px;
    margin-bottom: 15px;
}



.uno{

    display: flex;
    padding: 0;
}

.recuadro-gris{

    display: flex;
    padding: 50px;
    justify-content: center;
    align-items: center;
    gap: 12vh;
    background-color: #F6F8F9;
    width: 90%;
    position: relative;
    text-align: center;
    border-radius: 40px;

}

.dos{
    display: flex;
    padding: 0;

}

.recuadro-gris2{

    display: flex;
    padding: 50px;
    gap: 12vh;
    background-color: #F6F8F9;
    width: 90%;
    position: relative;
    border-radius: 40px;

}


.second-box{
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}


.recuadro-gris2 h2{
    color: #494949;
    line-height: 2;
    font-family: "Metropolis", Helvetica, Arial, sans-serif;
}

.recuadro-gris2 P{
    color:rgb(8, 0, 53);
    line-height: 2;
    font-size: 100px;
    text-align: end;

}


